/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    color: #332211;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    line-height: 1.6;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4rem 0;
}

.scroll-container {
    max-width: 1000px;
    width: 90%;
    height: 100vh;
    background: rgba(51, 34, 17, 0.4);

    overflow: hidden !important;

    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 0;
    scrollbar-gutter: stable both-edges;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #00000000;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: #00000020;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #00000040;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #00000080;
    }

    &.inner {
        overflow: hidden !important;
    }
}

.section {
    max-height: 100vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    &.center {
        justify-content: center;
    }
}

.section-content {
    max-width: 1000px;
    width: 94.3%;
    padding: 4rem 4rem;
    background: rgba(51, 34, 17, 0.4);
    backdrop-filter: blur(4px);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    color: #fff;
    text-transform: uppercase;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 3px;
    background: #ff7a00;
}

a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

a:hover {
    color: #ff7a00;
    border-bottom-color: #ff7a00;
}



@media (max-width: 768px) {

    .section-content {
        width: 100%;
    }
}